<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929496212017-0ltbjo8f37m4i77ad8thbacq5c1kpm85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929496212017-0ltbjo8f37m4i77ad8thbacq5c1kpm85</string>
	<key>API_KEY</key>
	<string>AIzaSyBhZTgCjUJWFHGOPEf-z18GIkSjTc3fGsw</string>
	<key>GCM_SENDER_ID</key>
	<string>929496212017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nuri</string>
	<key>PROJECT_ID</key>
	<string>nuri-server-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>nuri-server-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929496212017:ios:9f68d6f92b5ab5aaec6b10</string>
	<key>DATABASE_URL</key>
	<string>https://nuri-server-auth-default-rtdb.firebaseio.com</string>
</dict>
</plist>